.order-seat-container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 80%;
  margin: 10px 10px 10px 10px;
  overflow: auto;
}
.menu-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.menu-info {
  text-align: center;
  margin-left: 10px;
  flex-grow: 2;
}
.menu-img {
  padding-left: 20px;
  margin: 3px 0;
}
.menu-name {
  font-weight: bold;
  padding-bottom: 10px;
}
.menu-price {
  padding-bottom: 5px;
}
.menu-count {
}
.menu-status {
  font-size: 12px;
  padding-bottom: 10px;
}

.menu-text {
  font-size: 10px;
}

.ownerPick {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #ffffff;
  border-radius: 20px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  border: 1px solid #ff947a;
}

.ownerPick-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  height: 114px;
  left: 16px;
  right: 16px;
  top: 608px;
  background: #ffffff;
  border-radius: 10px;
}

.buttonStyle {
  margin-left: 5px;
  margin-right: 5px;
}

.order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 56px;
  background: #ff947a;
  border-radius: 8px;
  color: white;
  margin: auto;
}

.check-seat-category {
  margin: 10px 0;
}
.check-seat-category {
  display: flex;
  padding: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.reserve-seat-title {
  font-weight: bold;
  margin-bottom: 10px;
}
.check-seat-category-name {
}
.check-seat-category-complexity {
  margin-left: auto;
}
.order-menu-title {
  font-weight: bold;
  margin: 10px 0;
}
.order-menu-list {
  display: flex;
  padding: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 10px 0;
}
.order-item {
  padding: 2px 0;
}
.time-select-box {
  display: flex;
  align-items: center;
  padding-top: 10px;
  margin: 10px 0;
}
.visit-time-select {
  margin-right: 10px;
}
.time-select-bar {
  border: 1px solid #ee6666;
  border-radius: 11px;
  font-size: 14px;
}
.btn {
  background: #ff947a !important;
  border: none !important;
}
.total-price-box {
  display: flex;
  margin-right: auto !important;
}
.price-text {
  font-weight: bold;
}
.total-price {
  padding-left: 10px;
}
