.order-seat-container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 80%;
  margin: 0 10px;
  overflow: auto;
}
.menu-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  height: 114px;
  left: 16px;
  right: 16px;
  top: 608px;
  background: #ffffff;
  border-radius: 10px;
}
.menu-info {
  margin-left: 10px;
}
.menu-img {
  padding-right: 30px;
}
.menu-name {
  font-weight: bold;
  padding-bottom: 10px;
}
.menu-status {
  font-size: 12px;
  padding-bottom: 10px;
}

.menu-text {
  font-size: 10px;
}

.ownerPick{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: #ffffff;
    border-radius: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: 1px solid #FF947A;
}

.ownerPick-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    height: 114px;
    left: 16px;
    right: 16px;
    top: 608px;
    background: #ffffff;
    border-radius: 10px;
}