.show-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.hide-background {
  position: fixed;
  display: none;
  z-index: -2;
}
.show-cafe-info {
  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 6%;
  z-index: 1;
  width: 100%;
  height: 40%;
  background: white;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  border-radius: 16px 16px 0px 0px;
}
.hide-cafe-info {
  display: none;
}
.cafe-info-items {
  margin: 50px 10px 30px 10px;
}
.cafe-name-img-wrap {
  display: flex;
}
.name-address-wrap {
  width: 210px;
  flex-grow: 2;
}
.cafe-name {
  padding: 0 5px;
  font-size: 20px;
  font-weight: bold;
}
.cafe-address {
  padding: 0 5px;
  margin: 10px 0;
  font-size: 12px;
  color: gray;
}
.cafe-categories {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.category-item {
  display: flex;
  flex: 1 1 50%;
  justify-content: center;
  align-items: center;
  margin: 3px 0;
  padding: 2px 14px;
  height: 25px;
  font-size: 14px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
}

.cafe-img {
  margin-left: 5px;
  object-fit: scale-down;
}

.reserve-seat-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 56px;
  background: #ff947a;
  border-radius: 8px;
  color: white;
  margin: auto;
}
