/* .filterBarFrame{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80vw;
    right: 0px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    z-index: 3;
}

.categoryFrame{
    flex-basis: content;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.category{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.categoryItem{
    flex-basis: content;
}


#filterReset{
    flex-basis: content;
}

#filterApply{
    flex-basis: content;
}

#filterIcon{
    z-index: 3;
    position: fixed;
    top: 20%;
    left: 48%;
} */

.show-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
.hide-background {
    display: none;
    z-index: -2;
}
.show-filter {
    position: fixed;
    right: 0%;
    z-index: 1;
    width: 80%;
    height: 100%;
    background: white;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    border-radius: 16px 0px 0px 16px;
  }
.hide-filter {
    display: none;
}
.cafe-filter-items {
    margin: 50px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cafe-filter-each-items {
    margin: 10px 10px 10px 15px;
    padding: 5px;
    flex-basis: auto;
    flex-grow: 1;
}


.cafe-categories {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }

.category-item {
    display: flex;
    flex-basis:content;
    flex-grow: 0;
    flex-shrink: 2;
    /* flex: 1 1 50%; */
    justify-content: center;
    align-items: center;
    margin: 3px 10px;
    /* height: 25px; */
    font-size: 14px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
  }

.filter-reset-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 56px;
    background: black;
    border-radius: 8px;
    color: white;
    margin: auto;
  }
  .filter-apply-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 56px;
    background: #ff947a;
    border-radius: 8px;
    color: white;
    margin: auto;
  }