.reserve-seat-container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 80%;
  margin: 0 10px;
}
.seat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  height: 114px;
  left: 16px;
  right: 16px;
  top: 608px;
  background: #eee;
  border-radius: 10px;
}
.seat-info {
  margin-left: 10px;
}
.seat-img {
  padding-right: 30px;
}
.seat-name {
  font-weight: bold;
  padding-bottom: 10px;
}
.seat-status {
  font-size: 12px;
  padding-bottom: 10px;
}
.seat-text {
  font-size: 10px;
}
