.reserve-seat-container {
  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 0%;
}
.seat-card {
  height: 114px;
  left: 16px;
  right: 16px;
  top: 608px;
  background: #f8f8f8;
  border-radius: 10px;
}
